.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}

.App-link {
  color: #61dafb;
}

.ProtectedPage {
  color: white;
  display: flex;
}
.textinPP {
  color: #61dafb;
}

.signPage {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
}
.signin-title {
  color: white;
  padding: 3em;
}
.signButton {
  margin: 2.5em;
  color: white;
  width: 15em;
  height: 2em;
}

.loaded {
  width: 100vw;
  height: 100vw;
  padding-top: 50vh;
}
.upperBar {
  height: 100%;
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
}
.logo {
  width: 10em;
  height: 100%;
}
.container {
  margin-top: 50px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trackName {
}

.albumImg {
  width: 10em;
  height: auto;
}

.child1 {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.child2 {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ad_text {
  color: white;
}

.heart {
  enable-background: new 0 0 492.004 492.004;
  height: 10vh;
}

.heartHolder {
  width: 3em;
}

/* DropDown */

.dd-wrapper {
  width: 15vw;
}
.dd-header {
}
.dd-button {
}
.dd_header-title {
  color: black;
}
.menutitle {
  border-width: 5px;
  border-bottom: white;
}

.dd-list {
  position: absolute;
  z-index: 10;
  width: 15vw;
  background-color: #282c34;
}
.dd-list-item {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: "column";
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.dd-list-item:hover {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: "column";
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c26b;
}
.item_button {
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: rgb(182, 177, 177);
  background-color: #ffffff00;
  outline: none;
  border: 0ch;
}

.moreButton {
  enable-background: new 0 0 512 512;
  transform: rotate(90deg);
  width: 2em;
  height: 100%;
}

.checkMark {
  padding-left: 5px;
  width: 1em;
  height: 100%;
}

/* Transport Controls */
.transportContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.controls {
  width: fit-content;
  display: flex;
}
.playButtonContainer {
}
.playButton {
  enable-background: new 0 0 60 60;
  width: 3em;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.playButton:hover {
  background-color: rgba(242, 242, 242, 0.406);
  border-radius: 50%;
}
.skipButton {
  enable-background: new 0 0 60 60;
  width: 3em;
  height: 100%;
}

.skipButton:hover {
  background-color: rgba(242, 242, 242, 0.406);
  border-radius: 50%;
}
.previousButton {
  enable-background: new 0 0 60 60;
  width: 3em;
  height: 100%;
}
.previousButton:hover {
  background-color: rgba(242, 242, 242, 0.406);
  border-radius: 50%;
}

@media (max-width: 400px) {
  .App {
    text-align: center;
    background-color: black;
    height: 100vh;
    width: 100%;
  }
  .signPage {
    width: 400px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30vh;
  }
  .signin-title {
    height: 5vh;
    width: 100%;
  }
  .signButton {
    color: rgb(199, 0, 0);
    width: 15em;
    height: 2em;

    margin-top: -30vh;
  }
  .upperBar {
    height: 100%;
    padding-top: 8px;
    padding-left: 8px;
    display: flex;
  }
  .logo {
    width: 7em;
    height: 100%;
    size: 5px;
  }

  .container {
    margin-top: 20px;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .child2 {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .trackName {
    font-size: 1em;
  }
  .artistName {
    font-size: 0.8em;
  }
  .albumImg {
    width: 5em;
    height: auto;
  }

  /* Transport Controls */
  .transportContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
  }
  .controls {
    width: fit-content;
    display: flex;
  }
  .previousButton {
    enable-background: new 0 0 60 60;
    width: 1.5em;
    height: 100%;
  }
  .playButton {
    enable-background: new 0 0 60 60;
    width: 1.5em;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .skipButton {
    enable-background: new 0 0 60 60;
    width: 1.5em;
    height: 100%;
  }

  .dd-list {
    position: absolute;
    left: 40px;
    z-index: 10;
    width: 25vw;
    background-color: #282c34;
  }
  .dd-list-item {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: "column";
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    background-color: #282c34;
    text-align: left;
  }
  .menutitle {
    border-width: 5px;
    border-bottom: white;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .upperBar {
    height: 100%;
    padding-top: 8px;
    padding-left: 8px;
    display: flex;
  }
  .child2 {
    margin-top: -5vh;
  }
  .transportContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
  }
  .previousButton {
    width: 2em;
  }
  .playButton {
    width: 2em;
    margin-left: 10px;
    margin-right: 10px;
  }
  .skipButton {
    width: 2em;
  }
}
